ion-content {
background: linear-gradient(to bottom, #EF629F, #EECDA3);
}

h2 {
  color: #ffff;
}

p {
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
